{% extends "myapp/base.html" %}
{% load static %}
    {% block extra_style %}
    <link rel="stylesheet" href="{%static 'myapp/css/friends.css'%}"/>
    {% endblock %}  
    {% block header-title %}友達{% endblock %}
    {% block content %}
    {% for friend in talking_user_list %}

    <div class="user_list">
      
    <div class="user_image"> <img src="{{friend.image.url}}" alt="{{プロフィール画像}}"></div>
    <a href="{% url 'talk_room' friend.id %}" class="user_name" >{{friend}}</a>
   </div>

    {% endfor %}




    {% endblock %}
