{% extends "myapp/base.html" %}
{% load static %}
    {% block extra_style %}
    <link rel="stylesheet" href="{%static 'myapp/css/setting.css'%}"/>
    {% endblock %}   
    {% block header-title %}設定{% endblock %}
    {% block content %}
    <ul>
    <li><a href={% url "namechange" %} class="botton">ユーザー名変更</a></li>
    <br>
    <li><a href={% url "emailchange" %} class="botton">メールアドレス変更</a></li>
    <br>
    <li><a href={% url "imgchange" %} class="botton">アイコン変更</a></li>
    <br>
    <li><a href={% url "passwordchange" %} class="botton">パスワード変更</a></li>
    <br>
    <li><a href={% url "logout" %} class="botton">ログアウト</a></li>
    </ul>
    {% endblock %}
    

        
    